
.header{
    height: 50px;
    background-color: white;
    box-shadow: 0px 2px 20px black;
    text-align: left;
    position: relative;
    z-index: 2;
}
.logo{
    height: 50%;
    margin: 10px 20px;
}

.modalButton{
    font-family: 'Maven Pro', sans-serif;
    float: right;
    margin: 0px 20px;
    height: 100%;
    background-color: transparent;
    border: 0px;

}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.600);
    z-index: 3;
  }

.secondary-header{
    height: 30px;
    background-image: url('../assets/secondary-header.svg');
    background-size: 100%;
    background-position: 100%;
    position: relative;
    z-index: 1;
    box-shadow: 0px 2px 20px black;
}

