.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  /* border: 1px solid rgba(211, 211, 211, 0); */
  position: relative;
  box-shadow: 0px 0px 25px grey;
  width: 290px;
  height: 375px;
  margin: 0px 15px 30px;
  border-radius: 5px;

}

.card-text{
  margin: 0px auto;
}

main {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
  align-content: flex-start;
  margin: 30px 75px 0px 75px;
}

.product-image {
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.product-name {
  text-align: left;
  margin: 0px 0px 0px 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.company-name {
  text-align: left;
  margin: 0px 0px 0px 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.vote-button{
  float: right;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  float: right;
  margin: 7px;
  height: 70%;
  width: 80px;
  background-color: transparent;
  border: 1px;
  border-style: solid;
  border-radius: 6px;
}

.vote-button:hover {
  color: white;
  background-color: #0088ff;
  border: 1px;
  border-style: none;
  border-radius: 6px;
}